/****************************
    COLORS 
****************************/
/****************************
    FONT PROPERTIES
****************************/
/****************************
    BREAKPOINTS
****************************/
/****************************
    CONTAINER RESPONSIVE
****************************/
/****************************
    CONTAINERS-BORDERS
****************************/
/****************************
    BUTTONS
****************************/
/****************************
    BG PROJECTS GRID
****************************/
/****************************
    ABOUT US - BACKGROUNDS
****************************/
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  text-decoration: underline;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  display: inherit;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
  outline: none;
  background: transparent;
  font-size: 0.9375em;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
}

input[type=button] {
  border: 0;
}

input[type=button]:hover {
  cursor: pointer;
}

input,
textarea {
  padding: 6px 12px 20px 12px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Jost", sans-serif;
  color: #F3C0B5;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Jost", sans-serif;
  color: #F3C0B5;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Jost", sans-serif;
  color: #F3C0B5;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Jost", sans-serif;
  color: #F3C0B5;
}

input::placeholder,
textarea::placeholder {
  font-family: "Jost", sans-serif;
  color: #F3C0B5;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
textarea:hover {
  border-bottom-color: #FFFFFF;
}

body {
  font-size: 1em;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 26px;
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  letter-spacing: 5px;
}

.content__wrap,
.content__wrap--full {
  margin-bottom: 96px;
}
@media screen and (min-width: 768px) {
  .content__wrap,
.content__wrap--full {
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .content__wrap,
.content__wrap--full {
    margin-bottom: 160px;
  }
}

.header,
.footer,
.cta__bottom {
  margin-bottom: 0;
}

.header {
  position: relative;
  z-index: 10;
}
.header__content {
  padding: 35px 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header__content {
    padding: 64px 0;
  }
}
@media only screen and (min-width: 1440px) {
  .header__content {
    padding: 64px 0;
  }
}
.header__content__logo img {
  width: 202px;
}

#navigation__toggle {
  display: block;
  width: 24px;
  height: 20px;
  align-self: flex-start;
  background-image: url("../images/mobile/open-close-menu.svg");
}

.navigation {
  width: 100%;
  padding: 48px 24px 16px;
  position: absolute;
  top: 103px;
  left: 0px;
  display: none;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
  background-color: #1D1C1E;
}
.navigation a {
  margin-bottom: 32px;
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .navigation {
    width: auto;
    padding: 0;
    display: block;
    position: static;
    font-size: 0.875em;
    background-color: #FFFFFF;
  }
  .navigation a {
    margin-bottom: 0;
    padding-left: 40px;
    color: #1D1C1E;
  }

  #navigation__toggle {
    display: none;
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: 0.5;
  z-index: 9;
  display: none;
}

.visible {
  display: flex;
  -webkit-animation-name: opacity-in;
  animation-name: opacity-in;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.mobile-in {
  -webkit-animation-name: menu-mobile-in;
  animation-name: menu-mobile-in;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.mobile-btn-open {
  -webkit-animation-name: mobile-btn-open;
  animation-name: mobile-btn-open;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.mobile-btn-close {
  -webkit-animation-name: mobile-btn-close;
  animation-name: mobile-btn-close;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.content__wrap {
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
@media only screen and (min-width: 768px) {
  .content__wrap {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
  .content__wrap .content {
    border-radius: 15px;
  }
}
@media only screen and (min-width: 1440px) {
  .content__wrap .content {
    margin: 0 auto;
    width: 1111px;
  }
}

.content__wrap--full {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}
@media only screen and (min-width: 768px) {
  .content__wrap--full {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
  .content__wrap--full .content {
    border-radius: 15px;
  }
}
@media only screen and (min-width: 1440px) {
  .content__wrap--full .content {
    margin: 0 auto;
    width: 1111px;
  }
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #1D1C1E;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer {
    padding: 72px 40px;
  }
}
.footer__content {
  color: #8D8D8E;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__content {
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  .footer__content {
    padding: 0 0 40px;
  }
}
.footer__brand {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__brand {
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #8D8D8E solid 1px;
  }
}
.footer__brand .footer__logo {
  padding-bottom: 32px;
  border-bottom: #8D8D8E solid 1px;
}
@media screen and (min-width: 768px) {
  .footer__brand .footer__logo {
    padding-bottom: 0;
    border-bottom: none;
  }
}
.footer__brand .footer__logo img {
  width: 202px;
}
.footer__brand .footer__navigation {
  padding: 32px 0 8px;
  display: flex;
  flex-direction: column;
  font-size: 0.875em;
}
@media screen and (min-width: 768px) {
  .footer__brand .footer__navigation {
    padding: 0;
    flex-direction: row;
  }
}
.footer__brand .footer__navigation a {
  margin-bottom: 32px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer__brand .footer__navigation a {
    margin-bottom: 0;
    margin-left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}
.footer__contact .footer__address {
  padding-bottom: 40px;
}
.footer__contact .footer__info {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer__contact .footer__address,
.footer__contact .footer__info {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact .footer__social {
    align-self: flex-end;
  }
}
.footer__contact .footer__social a {
  margin: 0 8px;
}
.footer__contact .footer__social a:hover {
  text-decoration: none;
  -webkit-filter: brightness(155%);
  filter: brightness(155%);
}

.cta__bottom {
  position: relative;
}
.cta__bottom .cta__bottom__content {
  padding: 64px 24px;
  position: relative;
  z-index: 1;
  background-color: #E7816B;
  border-radius: 15px;
  text-align: center;
  color: #FFFFFF;
  background-image: url("../images/bg-bottom-banner.svg");
  background-repeat: no-repeat;
  background-position: 35% 50%;
}
@media only screen and (min-width: 768px) {
  .cta__bottom .cta__bottom__content {
    padding: 64px 132px;
    background-position: 35% 50%;
  }
}
@media only screen and (min-width: 1440px) {
  .cta__bottom .cta__bottom__content {
    padding: 64px 5.9375em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-position: 100% 50%;
  }
}
.cta__bottom .cta__bottom__content .cta__copy_one {
  margin-bottom: 30px;
  font-size: 2em;
  line-height: 36px;
}
.cta__bottom .cta__bottom__content .cta__copy_two {
  margin-bottom: 32px;
  line-height: 25px;
}
.cta__bottom .cta__bottom__bg {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #1D1C1E;
  z-index: 0;
}

.cover {
  padding: 105px 24px;
  background-color: #E7816B;
  background-image: url("../images/bg-bottom-banner.svg");
  background-repeat: no-repeat;
  background-position: -36% 110%;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .cover {
    padding: 64px 105px;
    background-position: -100% 50%;
    background-size: 110%;
  }
}
@media screen and (min-width: 1440px) {
  .cover {
    background-position: center right;
    background-size: 70%;
  }
}
.cover h1 {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  .cover h1 {
    font-size: 3em;
  }
}
.cover p {
  font-weight: 400;
  font-size: 1em;
}

.hero__banner {
  padding-top: 80px;
  background-color: #E7816B;
  text-align: center;
  color: #FFF;
  background-image: url(../images/hero-circle-bg.svg);
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero__banner {
    padding: 60px 80px 0;
    background-position: 130% 50%;
  }
}
@media screen and (min-width: 1440px) {
  .hero__banner {
    padding-top: 140px;
    padding-right: 476px;
    padding-left: 95px;
    flex-direction: row;
    background-position: top right;
    position: relative;
  }
}

.hero__banner__info {
  margin-bottom: 80px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (min-width: 768px) {
  .hero__banner__info {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__banner__info {
    margin-bottom: 140px;
    text-align: left;
    flex-grow: 1;
  }
}
.hero__banner__info .hero__copy__one {
  margin-bottom: 32px;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.1em;
}
@media screen and (min-width: 768px) {
  .hero__banner__info .hero__copy__one {
    margin-bottom: 42px;
    font-size: 3em;
  }
}
.hero__banner__info .hero__copy__two {
  margin-bottom: 24px;
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.6em;
}
@media screen and (min-width: 1440px) {
  .hero__banner__info .hero__copy__two {
    font-size: 1em;
  }
}

.hero__image {
  height: 370px;
  overflow: hidden;
  -webkit-filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.5));
  filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.5));
}
@media screen and (min-width: 768px) {
  .hero__image {
    height: 388px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__image {
    height: 500px;
    position: absolute;
    bottom: 0px;
    right: 95px;
  }
}

.service__banners {
  display: grid;
  grid-gap: 30px;
}
@media screen and (min-width: 1440px) {
  .service__banners {
    grid-template-columns: 1fr 1fr;
  }
}

.service__banner {
  position: relative;
  border-radius: 15px;
}
.service__banner a {
  padding: 90px 0;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  display: block;
}
@media screen and (min-width: 768px) {
  .service__banner a {
    padding: 54px 0;
  }
}
@media screen and (min-width: 1440px) {
  .service__banner a {
    height: 100%;
    padding: 108px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.service__banner a span {
  display: block;
}
.service__banner a:hover {
  text-decoration: none;
}
.service__banner .service__title {
  padding-bottom: 12px;
  font-size: 1.75em;
  letter-spacing: 2px;
}
.service__banner .service__view {
  font-size: 0.9375em;
  letter-spacing: 5px;
}
.service__banner .service__overlay {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.service__banner:hover > div.service__overlay {
  background-color: #FFAD9B;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .web__design__banner {
    height: 100%;
    grid-row: 1/span 2;
  }
}
@media screen and (min-width: 1440px) {
  .web__design__banner a {
    padding: 0;
  }
}

.web__design__banner {
  background-image: url(../images/web-design-bg@2x.png);
  background-color: #FFAD9B;
  background-repeat: no-repeat;
  background-position: 80% 90%;
  background-size: 250%;
}

.app__design__banner {
  background-image: url(../images/app-design-bg@2x.png);
  background-color: #FFAD9B;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 150%;
}

.graphic__design__banner {
  background-image: url(../images/graphic-design-bg@2x.png);
  background-color: #FFAD9B;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 170%;
}

@media screen and (min-width: 1440px) {
  .icon__grid {
    display: flex;
    justify-content: space-between;
  }
}
.icon__grid__cell {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .icon__grid__cell {
    margin-bottom: 32px;
    flex-direction: row;
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .icon__grid__cell {
    width: 30%;
    margin-bottom: 0;
    flex-direction: column;
    text-align: center;
  }
}
.icon__grid__cell .image {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .icon__grid__cell .image {
    margin-right: 48px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .icon__grid__cell .image {
    margin-right: 0;
    margin-bottom: 48px;
  }
}
.icon__grid__cell .image img {
  width: 202px;
}
@media screen and (min-width: 768px) {
  .icon__grid__info {
    align-self: center;
  }
}
.icon__grid__info h4 {
  padding-bottom: 32px;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 5px;
}
@media screen and (min-width: 768px) {
  .icon__grid__info h4 {
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .icon__grid__info h4 {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .cell__location {
    margin-bottom: 80px;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .cell__location {
    margin-bottom: 0;
  }
}
.cell__location .image {
  margin-right: 0;
  margin-bottom: 48px;
}

.grid__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .grid__content {
    display: grid;
    row-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.grid__content a.grid__cell {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  background-color: #FDF3F0;
  color: #333136;
}
@media screen and (min-width: 768px) {
  .grid__content a.grid__cell {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .grid__content a.grid__cell {
    width: 350px;
    margin-bottom: 0;
    flex-direction: column;
  }
}
.grid__content a.grid__cell .cell__bg {
  height: 320px;
}
@media screen and (min-width: 768px) {
  .grid__content a.grid__cell .cell__bg {
    width: 50%;
    height: 310px;
    border-bottom-left-radius: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .grid__content a.grid__cell .cell__bg {
    width: 100%;
    height: 320px;
    border-bottom-left-radius: 0;
  }
}
.grid__content a.grid__cell .cell__info {
  padding: 32px 30px;
}
@media screen and (min-width: 768px) {
  .grid__content a.grid__cell .cell__info {
    width: 50%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .grid__content a.grid__cell .cell__info {
    width: 100%;
    padding: 32px;
  }
}
.grid__content a.grid__cell .cell__info h4 {
  margin-bottom: 16px;
  font-weight: 500;
  color: #E7816B;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.grid__content a.grid__cell:hover {
  text-decoration: none;
}
.grid__content a.grid__cell:hover > .cell__info {
  background-color: #E7816B;
  color: #FFFFFF;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
@media screen and (min-width: 768px) {
  .grid__content a.grid__cell:hover > .cell__info {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .grid__content a.grid__cell:hover > .cell__info {
    border-top-right-radius: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
.grid__content a.grid__cell:hover > .cell__info h4 {
  color: #FFFFFF;
}

.web_proj_1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/web-1.jpg);
}
@media screen and (min-width: 768px) {
  .web_proj_1 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .web_proj_1 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.web_proj_2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/web-2.jpg);
}
@media screen and (min-width: 768px) {
  .web_proj_2 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .web_proj_2 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.web_proj_3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/web-3.jpg);
}
@media screen and (min-width: 768px) {
  .web_proj_3 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .web_proj_3 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.web_proj_4 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/web-4.jpg);
}
@media screen and (min-width: 768px) {
  .web_proj_4 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .web_proj_4 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.web_proj_5 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/web-5.jpg);
}
@media screen and (min-width: 768px) {
  .web_proj_5 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .web_proj_5 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.web_proj_6 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/web-6.jpg);
}
@media screen and (min-width: 768px) {
  .web_proj_6 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .web_proj_6 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.app_proj_1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/app-1.jpg);
}
@media screen and (min-width: 768px) {
  .app_proj_1 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .app_proj_1 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.app_proj_2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/app-2.jpg);
}
@media screen and (min-width: 768px) {
  .app_proj_2 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .app_proj_2 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.app_proj_3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/app-3.jpg);
}
@media screen and (min-width: 768px) {
  .app_proj_3 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .app_proj_3 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.app_proj_4 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/app-4.jpg);
}
@media screen and (min-width: 768px) {
  .app_proj_4 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .app_proj_4 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.app_proj_5 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/app-5.jpg);
}
@media screen and (min-width: 768px) {
  .app_proj_5 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .app_proj_5 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.graph_proj_1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/graphic-1.jpg);
}
@media screen and (min-width: 768px) {
  .graph_proj_1 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .graph_proj_1 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.graph_proj_2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/graphic-2.jpg);
}
@media screen and (min-width: 768px) {
  .graph_proj_2 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .graph_proj_2 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.graph_proj_3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects/graphic-3.jpg);
}
@media screen and (min-width: 768px) {
  .graph_proj_3 {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .graph_proj_3 {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.about__card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  background: #E7816B url("../images/about-us-circle-bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 35%;
  background-size: 70%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__card {
    background-position: -170% 130%;
    background-size: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .about__card {
    flex-direction: row;
    text-align: left;
    background-position: 5% 100%;
    background-size: 55%;
  }
}
.about__card .about__info {
  padding: 80px 24px;
}
@media screen and (min-width: 768px) {
  .about__card .about__info {
    padding: 68px 58px;
  }
}
@media screen and (min-width: 1440px) {
  .about__card .about__info {
    width: 636px;
    padding: 0 95px;
  }
}
.about__card .about__info h1 {
  margin-bottom: 24px;
  font-size: 3em;
  color: #FFFFFF;
}
.about__card .about__info h2 {
  margin-bottom: 24px;
  font-size: 2.5em;
  color: #E7816B;
}
.about__card .about__info h1 + p {
  color: #FFFFFF;
}
.about__card .about__info h2 + p {
  color: #333136;
}
.about__card.sub__card {
  background: #FDF3F0 url("../images/about-us_subcard-bg.svg");
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .about__card.sub__card {
    background-position: 50% 80%;
  }
}
@media screen and (min-width: 1440px) {
  .about__card.sub__card {
    background-position: 0% 100%;
  }
}
.about__card.sub__card.reverse {
  background-position: 60% 100%;
}

.reverse {
  flex-direction: column;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1440px) {
  .reverse {
    flex-direction: row-reverse;
    text-align: left;
  }
  .reverse .world__class__bg {
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
  }
}

.about__us__bg,
.world__class__bg,
.real__deal__bg {
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .about__us__bg,
.world__class__bg,
.real__deal__bg {
    background-position: 50% 70%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .about__us__bg,
.world__class__bg,
.real__deal__bg {
    width: 476px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
  }
}

.about__us__bg {
  background-image: url("../images/about-us-bg.jpg");
}
@media screen and (min-width: 1440px) {
  .about__us__bg {
    height: 480px;
  }
}

@media screen and (min-width: 1440px) {
  .world__class__bg,
.real__deal__bg {
    height: 640px;
  }
}

.world__class__bg {
  background-image: url("../images/world-class-bg.jpg");
}

.real__deal__bg {
  background-image: url("../images/real-deal-bg.jpg");
}

.location {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .location {
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .location {
    flex-direction: row;
  }
}
.location__info .info {
  padding: 80px 0;
  background: #FDF3F0 url("../images/about-us_subcard-bg.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}
@media screen and (min-width: 768px) {
  .location__info .info {
    padding: 88px 75px;
    border-radius: 15px;
    background-position: 0% 100%;
  }
}
@media screen and (min-width: 1440px) {
  .location__info .info {
    width: 730px;
    margin-right: 30px;
    padding: 88px 95px;
  }
}
.location__info .info h4 {
  margin-bottom: 24px;
  font-size: 2em;
  font-weight: 500;
  color: #E7816B;
}
.location__info .info .info__address__contact {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .location__info .info .info__address__contact {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .location__info .info .info__address__contact {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .location__info .info .info__address__contact .address,
.location__info .info .info__address__contact .contact {
    width: 50%;
  }
}
.location__info .info .info__address__contact .address {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .location__info .info .info__address__contact .address {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.location__info .info .info__address__contact .address h5,
.location__info .info .info__address__contact .contact h5 {
  font-weight: bold;
  color: #333136;
}
.location__info .info p {
  color: #333136;
}
.location__map {
  height: 320px;
  background-color: sandybrown;
}
@media (min-width: 768px) {
  .location__map {
    height: 326px;
  }
}
@media (min-width: 768px) {
  .location__map {
    margin-bottom: 24px;
    border-radius: 15px;
  }
}
@media (min-width: 1440px) {
  .location__map {
    width: 100%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .location.reverse {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1440px) {
  .location.reverse .info {
    margin-right: 0;
    margin-left: 30px;
  }
}

.contact__card {
  padding: 72px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #E7816B url("../images/about-us-circle-bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 35%;
  background-size: 70%;
}
@media screen and (min-width: 768px) {
  .contact__card {
    padding: 72px 58px;
    background-position: -170% 130%;
    background-size: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .contact__card {
    padding-right: 95px;
    padding-left: 95px;
    flex-direction: row;
    justify-content: stretch;
    background-position: 5% 100%;
    background-size: 55%;
  }
}
.contact__card__info {
  text-align: center;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .contact__card__info {
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .contact__card__info {
    width: 636px;
    padding-right: 95px;
  }
}
.contact__card__info h1 {
  margin-bottom: 24px;
  font-size: 3em;
  color: #FFFFFF;
}
.contact__card__info p {
  color: #FFFFFF;
}
.contact__card__form {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__card__form {
    text-align: right;
  }
}
@media screen and (min-width: 1440px) {
  .contact__card__form {
    width: 384px;
  }
}
.contact__card__form .form__field {
  margin-bottom: 24px;
  border-bottom: 1px solid #FFFFFF;
  position: relative;
}
.contact__card__form .form__field .alert_empty {
  position: absolute;
  top: 3px;
  right: 0;
  font-size: 12px;
  font-style: italic;
  color: #FFFFFF;
  background: url(../images/empty-field-icon.svg) no-repeat right;
  width: 105px;
  text-align: left;
}

label {
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: "Jost", sans-serif;
  font-size: 0.9375em;
  font-weight: 500;
  color: #F3C0B5;
  z-index: 50;
}

input#name,
input#email,
input#tel {
  position: relative;
  z-index: 51;
}

.btn {
  display: inline-block;
}
.btn--dark {
  padding: 1.0625em 1.125em;
  border-radius: 8px;
  font-size: 0.9375em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333136;
  background-color: #FFFFFF;
}
.btn--dark:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #FFAD9B;
}
.btn--light {
  padding: 1.0625em 1.125em;
  border-radius: 8px;
  font-size: 0.9375em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #E7816B;
}
.btn--light:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #FFAD9B;
}

@-webkit-keyframes menu-mobile-in {
  from {
    top: 123px;
    opacity: 0;
  }
  to {
    top: 103px;
    opacity: 1;
  }
}
@keyframes menu-mobile-in {
  from {
    top: 123px;
    opacity: 0;
  }
  to {
    top: 103px;
    opacity: 1;
  }
}
@-webkit-keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@-webkit-keyframes mobile-btn-open {
  from {
    background-position-y: 20px;
  }
  to {
    background-position-y: 0px;
  }
}
@keyframes mobile-btn-open {
  from {
    background-position-y: 20px;
  }
  to {
    background-position-y: 0px;
  }
}
@-webkit-keyframes mobile-btn-close {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 20px;
  }
}
@keyframes mobile-btn-close {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
