.header {
    position: relative;
    z-index: 10;

    &__content {
        padding: 35px 24px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media only screen and (min-width: $tablet) {
            padding: 64px 0;
            // padding-top: 64px;
            // padding-bottom: 64px;
        }

        @media only screen and (min-width: $desktop) {
            // padding: 64px 2.5rem;
            padding: 64px 0;
        }

    }

    &__content__logo img {
        width: 202px;
    }
}