/****************************
    COLORS 
****************************/

// Primary Colors
$peach: #E7816B;
$black: #1D1C1E;
$white: #FFFFFF;

// Secondary Colors
$light-peach: #FFAD9B;
$extra-light-peach: #FDF3F0;
$dark-grey: #333136;
$light-grey: #F1F3F5;

// Footer color font
$footer-gray: #8D8D8E;

/****************************
    FONT PROPERTIES
****************************/

$font-family: "Jost", sans-serif;
$font-base-size: 1em; // 16px
$regular: 400;
$medium: 500;
$spacing-2: 2px;
$spacing-5: 5px;

/****************************
    BREAKPOINTS
****************************/
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

