/****************************
    COLORS 
****************************/

// Primary Colors
$peach: #E7816B;
$black: #1D1C1E;
$white: #FFFFFF;

// Secondary Colors
$light-peach: #FFAD9B;
$dark-grey: #333136;
$light-grey: #DFDFDF;

// Footer color font
$footer-gray: #8D8D8E;

/****************************
    FONT PROPERTIES
****************************/

$font-base-size: 1em; // 16px
$regular: 400;
$medium: 500;
$spacing-2: 2px;
$spacing-5: 5px;

/****************************
    BREAKPOINTS
****************************/
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

/****************************
    CONTAINER RESPONSIVE
****************************/
@mixin responsive-tablet-desktop {
    @media only screen and (min-width: $tablet) {
        padding-right: 2.5em;
        padding-left: 2.5em;
        .content {
            border-radius: $radius-container;
        }
    }
    @media only screen and (min-width: $desktop) {
        .content {
            margin: 0 auto;
            width: 1111px;
        }
    }
}

@mixin content-wrap {
    max-width: 100%;
    padding-right: 1.5em;
    padding-left: 1.5em;
    @include responsive-tablet-desktop;
}

@mixin content-wrap-full-width {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    @include responsive-tablet-desktop;
}
/****************************
    CONTAINERS-BORDERS
****************************/
$radius-container: 15px;

@mixin bg-peach-radius {
    background-color: $peach;
    border-radius: $radius-container;
}

/****************************
    BUTTONS
****************************/
@mixin btn {
    padding: 1.0625em 1.125em;
    border-radius: 8px;
    font-size: 0.9375em;
    text-transform: uppercase;
    letter-spacing: 1px
}

@mixin btn-hover {
    text-decoration: none;
    color: #FFF;
    background-color: $light-peach;
}

@mixin btn-on-dark {
    @include btn;
    color: $dark-grey;
    background-color: $white;
    
    &:hover {
        @include btn-hover;
    }
}

@mixin btn-on-light {
    @include btn;
    color: $white;
    background-color: $peach;
    
    &:hover {
        @include btn-hover;
    }
}

/****************************
    BG PROJECTS GRID
****************************/
@mixin bg-projects {
    border-top-left-radius: $radius-container;
    border-top-right-radius: $radius-container;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: $tablet) {
        border-top-right-radius: 0;
        border-top-left-radius: $radius-container;
        border-bottom-left-radius: 0;
    }

    @media screen and (min-width: $desktop) {
        border-top-right-radius: $radius-container;
        border-bottom-left-radius: 0;
    }
}

/****************************
    ABOUT US - BACKGROUNDS
****************************/
@mixin border-radius-tablet-desktop {
    width: 100%;
    height: 320px;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: cover;
    @media screen and (min-width: $tablet) {
        background-position: 50% 70%;
        border-top-right-radius: $radius-container;
        border-top-left-radius: $radius-container;
    }
    
    @media screen and (min-width: $desktop) {
        width: 476px;
        border-top-right-radius: $radius-container;
        border-bottom-right-radius: $radius-container;
        border-top-left-radius: 0;
    }
}